.article-first {
  background: #1d5cc2;
  height: 900px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.article-container {
  max-width: 1364px;
  margin: 0px auto;
}

.article-title {
  text-align: center;
  padding: 60px;
}

.article-title h1 {
  padding: 20px;
  margin-bottom: 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0%; /* 0px */
  letter-spacing: 0.75px;
}

.article-title p {
  text-align: center;
  color: #dadada;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 157.617%;
}

.article-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article-list-itens {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.article-list-itenss {
  display: flex;
  justify-content: space-evenly;
  color: #151415;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 20px;
  margin-bottom: 40px;
}
.teste {
  margin-left: -10px;
}

.divisor {
  content: " ";
  display: block;
  margin: 20px auto;
  height: 1px;
  width: 80%;
  background: #dadada;
  opacity: .7;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.article-info-engineer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
}

.article-info-engineer-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.article-info-engineer-text h1{
  padding: 20px;
  margin-bottom: 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0%; /* 0px */
  letter-spacing: 0.75px;
}

.article-info-engineer-text p {
  text-align:center;
  color: #dadada;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 157.617%;
}

.article-info-engineer-img {
  display: flex;
  justify-content: center;
  align-items: center; /* Para centralizar verticalmente se necessário */
}
.article-info-engineer-img img{
  max-width: 80%;
  border-radius: 5px;
}

@media (max-width: 1200px){
  .article-container {
    max-width: 100%;
    margin: 0px auto;
  }
  .img01{
    margin-left: 10px;
  }
  .divisor {
    width: 80%;
  }

  .article-list-itens{
    margin-bottom: 10px;
  }

  .article-title {
    padding: 30px;
  }

  .article-title p {
    font-size: 0.8rem;
  }
  .article-info-engineer-text p{
    font-size: 0.8rem;
    text-align: center;
    margin-left: 20px;
  }
  .article-list-itenss{
    font-size: 0.8rem;
  }

  .article-first{
    height: 700px;
  }
}

@media (max-width: 1000px){

  .article-title h1{
    font-size: 2rem;
    padding: 10px;
  }

  .article-info-engineer-text h1{
    font-size: 2rem;
    padding: 10px;
  }

  .article-first{
    height: 600px;
  }
}

@media (max-width: 710px){
  .article-title h1{
    font-size: 1.5rem;
    padding: 10px;
  }
  .article-first{
    height: 600px;
  }
  .teste img {
    width: 70%;
    height: 70%;
    padding: 5px;
  }
  .divisor{
    margin: 10px auto;
  }
  
  .article-list-itens{
    margin-bottom: 5px;
  }
}

@media (max-width: 450px){
  .article-title {
    padding: 20px;
  }
  .article-title h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .article-title p {
    font-size: 0.6rem;
  }

  .article-list-itenss {
    font-size: 0.7rem;
    margin-bottom: 20px;
  }
  .teste img {
    width: 60%;
    height: 60%;
    padding: 5px;
  }
  .article-info-engineer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .article-info-engineer h1{
    font-size: 1.2rem;
  }
  .article-info-engineer-text p{
    font-size: 0.7rem;
    text-align: center;
    margin: 0px 20px;
    margin-top: -20px;
  }
}

@media (max-width: 370px){
  .article-title h1 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .article-list-itenss {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
}